*, h1, h2, h3, h4, h5, h6, p, ul, li {
    margin:unset;
    padding:unset;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
}

ul {
    list-style-type:none;
}

body {
    overflow-x:hidden;
}

#full_contain {
    color:white;
}

.gradient_bg {
    background-image:url("../images/background3.jpg");
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:cover;
    height:100vh;
    width:100%;
    position:fixed;
}

.gbg {
    position:relative;
}

.waiting_text {
    color:white;
    font-family:'Bebas';
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
#m_nav {
    width:25px;
    height:30px;
    margin:30px 0 20px 20px;
    cursor:pointer;
    position:fixed;
    z-index:20;
    right:20px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    opacity:1;
}

.bar {
    height:2px;
    width:60%;
    background:white;
    display:block;
    transition:0.3s ease-in-out;
}

#bar0 {
    transform:translateY(2px) rotate(90deg);
}

.change #bar0 {
    transform:translateY(2px) rotateZ(180deg);
    opacity:0;
}

/* .change #bar2 {
    transform:translateY(-6px) rotateZ(45deg);
} */

/* .change #bar1 {
    opacity:0;
} */

.wt_center {
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	text-align:center;
	width:100%;
}

/*Current*/
#current_container {
    height:40vh;
    position:relative;
}

#current_container p {
    margin:5px 0;
}

#current_container .summary_title {
    font-size:.9em;
}

#current_container .summary_text {
    margin:20px 0;
}

.st_main {
    font-size:1.5em !important;
}

.current_weather {
    width:80%;
    margin-left:10%;
    padding-top:30px;
}

.left_half, .right_half {
    width:50%;
    display:inline-block;
}

.left_half {
    text-align:left;
}

.right_half {
    text-align:right;
}

.current_temperature {
    font-family:"Bebas";
    font-size:8em;
    font-weight:300;
}

.weather_hourly_container {
    padding-bottom:85px;
    position:relative;
    width:80%;
    margin-left:10%;
}

/**Hourly**/
.weather_item {
    padding:20px 0;
    border-bottom:1px solid rgb(216, 144, 235);
}

.hourly_left {
    width:25%;
    text-align:left;
    display:inline-block;
    vertical-align:top;
    font-family:"Roboto Condensed";
}

.hourly_right {
    width:75%;
    display:inline-block;
}

.summary_title {
    font-family:"FuturaBook";
    letter-spacing:.02em;
}

.summary_text {
    font-family:"FuturaLight";
    margin:15px 0;
    font-size:.95em;
}

.degrees_text {
    font-family:"Roboto Condensed";
    display:inline-block;
}

.info_text {
    font-family:'Roboto Light';
}

.right_degree {
    margin-right:20px;
}

.desktop_select {
    display:none;
}

.desktop_select ul {
    display:flex;
    justify-content:flex-end;
    position:absolute;
    right:30px;
    top:30px;
}

.desktop_select li {
    margin:0 15px;
    font-family:'Roboto';
    background:#382951;
    padding:10px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-oute;
    transition: all .2s ease-in-out;
}

.desktop_select li:hover {
    background:hotpink;
    cursor:pointer;
}

.select_active {
    background:hotpink;
}

/**Location**/
#location_box {
    width:200px;
    height:auto;
    background:white;
    position:fixed;
    padding:20px;
    top:50px;
    right:30px;
    z-index:20;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    opacity:0;
    box-shadow:0 0 5px #aaa;
}

.coordBox {

}

.visible {
    opacity:1 !important;
}

button, input {
    border:unset;
    border-bottom:1px solid gray;
    margin-bottom:15px;
    font-family:'Roboto';
    width:100%;
}

.submit_button {
    margin-bottom:unset;
    width:100%;
    border:unset;
    background:#382951;
    color:white;
    padding:10px 0;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.submit_button:hover {
    background:hotpink;
    cursor:pointer;
}

.desktop_select {
    width:100%;
    position:fixed;
    z-index:35;
}

.active {
    background:hotpink !important;
}

/**Footer**/
.changeTimeMenu {
    position:fixed;
    bottom:0;
    background:#382951;
    width:100%;
    padding:15px 0;
    color:white;
    text-align:center;
    font-family:"Roboto";
    cursor:pointer;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.changeTimeMenu:hover {
    background:hotpink;
}

.liner {
    width:3px;
    height:100%;
    background:white;
    position:absolute;
    top:0;
    left:21%;
}

@media only screen and (min-width:900px){
    .current_weather {
        width:50%;
        margin:unset;
        display:inline-block;
        vertical-align:top;
        position:fixed;
    }
    .weather_hourly_container {
        width:50%;
        margin:unset;
        display:inline-block;
        position:absolute;
        right:0;
        margin-top:150px;
    }
    #current_container {
        height:100%;
    }
    .current_weather {
        height:100%;
    }
    .current_temperature {
        font-size:30vw;
    }
    .left_half, .right_half {
        display:block;
        text-align:center;
        width:100%;
    }
    .changeTimeMenu {
        display:none;
    }
    #m_nav {
        display:none;
    }
    .desktop_select {
        display:block;
    }
    #location_box {
        top:85px;
        right:45px;
    }
    #current_container .left_half .summary_title {
        font-size:1.25em;
    }
}

@media only screen and (min-width:1275px){
    .current_temperature {
        font-size:24em;
    }
}

@font-face { font-family: Bebas; src: url("../fonts/Bebas-Regular.otf"); }
@font-face { font-family: FuturaBold; src: url("../fonts/FuturaLT-Bold.ttf"); }
@font-face { font-family: FuturaBook; src: url("../fonts/FuturaLT-Book.ttf"); }
@font-face { font-family: FuturaLight; src: url("../fonts/FuturaLT-Light.ttf"); }